<!-- <div class="loader" *ngIf="!shopsL" #loadingControl>
  <img src="./assets/img/Infinity.gif" alt="">
</div> -->
<div class="main-content">

  <div class="container-fluid">
    <div>

      <!-- Nav tabs -->
      <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active">
          <a href="#customer" aria-controls="customer" role="tab" data-toggle="tab">ลูกค้า</a>
        </li>
        <li role="presentation">
          <a href="#shopowner" aria-controls="shopowner" role="tab" data-toggle="tab">เจ้าของร้าน</a>
        </li>
        <li role="presentation">
          <a href="#admin" aria-controls="admin" role="tab" data-toggle="tab">แอดมิน</a>
        </li>
        <li role="presentation">
          <a href="#biker" aria-controls="biker" role="tab" data-toggle="tab">ไบค์เกอร์</a>
        </li>
      </ul>

      <!-- Tab panes -->
      <div class="tab-content">

        <!-- Tab Customer -->
        <div role="tabpanel" class="tab-pane active" id="customer">
          <div class="tab-content">

            <div>
              <div class="row">
                <div class="col-md-12">
                  <div class="card">
                    <div class="card-content table-responsive">
                      <table class="table">
                        <thead class="text-danger">
                          <tr>
                            <th class="text-center" index-col-size>#</th>
                            <th class="text-center" displayname-col-size>ชื่อที่แสดง</th>
                            <th class="text-center" name-col-size>ชื่อ - นามสกุล</th>
                            <th class="text-center col-md-2 tel-col-size">เบอร์โทร</th>
                            <th class="text-center" email-col-size>อีเมล์</th>
                            <th class="text-center col-md-1">สถานะ</th>
                            <th class="text-center col-md-1">วันที่บันทึก</th>

                            <th class="text-center col-md-1 col-lg-1 action-col-size">
                              Action
                              <!-- <span style="margin-right:-50px"></span> -->
                            </th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngIf="listCust.length <=0">
                            <!-- <tr> -->
                            <td colspan="8" class="text-center">
                              ยังไม่มีข้อมูลผู้ใช้ในระบบค่ะ
                            </td>

                          </tr>
                          <tr *ngFor="let item of listCust[0]; let i = index ">
                            <td>{{i + pageSelect + 1}}</td>
                            <td>{{item.displayName}}</td>
                            <td>{{item.firstName}} {{item.lastName}}</td>
                            <td class="text-center">{{item.mobile ? item.mobile: '-'}}</td>
                            <td class="text-center">{{item.email}}</td>
                            <td class="text-center">Active</td>
                            <td class="text-center">{{item.created | date: 'dd/MM/yyyy'}}</td>

                            <td class="text-center">
                                <span>
                                    <i class="material-icons edit-btn" data-toggle="modal" data-target="#modalEditUser" (click)="editUser(item)">border_color</i>
                
                                  <ui-switch size="small" color="red" class="switch-bg" (change)="activeChange($event,item)"></ui-switch>
                                </span>


                            </td>
                          </tr>

                        </tbody>
                      </table>

                      <!-- <div class="pc">
                        <nav aria-label="Page navigation">
                          <ul class="pagination">
                            <li [class]="curentPage[item]" *ngFor="let item of shopsL.pagings">
                              <a (click)="pageing(item)">{{item}}</a>
                            </li>
                          </ul>
                        </nav>
                      </div> -->
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
        <!-- Tab Customer -->

        <!-- Tab ShopOwner -->
        <div role="tabpanel" class="tab-pane" id="shopowner">
          <div class="tab-content">
            <div>
              <div class="row">
                <div class="col-md-12">
                  <div class="card">
                    <div class="card-content table-responsive">
                      <table class="table">
                        <thead class="text-danger">
                          <tr>
                            <th class="text-center" index-col-size>#</th>
                            <th class="text-center" displayname-col-size>ชื่อที่แสดง</th>
                            <th class="text-center" name-col-size>ชื่อ - นามสกุล</th>
                            <th class="text-center col-md-2 tel-col-size">เบอร์โทร</th>
                            <th class="text-center" email-col-size>อีเมล์</th>
                            <th class="text-center col-md-1">สถานะ</th>
                            <th class="text-center col-md-1">วันที่บันทึก</th>

                            <th class="text-center col-md-1 col-lg-1 action-col-size">
                              Action
                              <!-- <span style="margin-right:-50px"></span> -->
                            </th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngIf="listShopOwner.length <=0">
                            <!-- <tr> -->
                            <td colspan="8" class="text-center">
                              ยังไม่มีข้อมูลผู้ใช้ในระบบค่ะ
                            </td>

                          </tr>
                          <tr *ngFor="let item of listShopOwner[0]; let i = index ">
                            <td>{{i + pageSelect + 1}}</td>
                            <td>{{item.displayName}}</td>
                            <td>{{item.firstName}} {{item.lastName}}</td>
                            <td class="text-center">{{item.mobile ? item.mobile: '-'}}</td>
                            <td class="text-center">{{item.email}}</td>
                            <td class="text-center">{{item.gender ? item.gender: '-'}}</td>
                            <td class="text-center">{{item.created | date: 'dd/MM/yyyy'}}</td>

                            <td class="text-center">
                                <span>
                                    <i class="material-icons edit-btn" data-toggle="modal" data-target="#modalEditUser" (click)="editUser(item)">border_color</i>
                
                                  <ui-switch size="small" color="red" (change)="activeChange($event,item)"></ui-switch>
                                </span>

                            </td>
                          </tr>

                        </tbody>
                      </table>

                      <!-- <div class="pc">
                              <nav aria-label="Page navigation">
                                <ul class="pagination">
                                  <li [class]="curentPage[item]" *ngFor="let item of shopsL.pagings">
                                    <a (click)="pageing(item)">{{item}}</a>
                                  </li>
                                </ul>
                              </nav>
                            </div> -->
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Tab ShopOwner -->

        <!-- Tab Admin -->
        <div role="tabpanel" class="tab-pane" id="admin">
          <div class="tab-content">
            <div>
              <div class="row">
                <div class="col-md-12">
                  <div class="card">
                    <div class="card-content table-responsive">
                      <table class="table">
                        <thead class="text-danger">
                          <tr>
                            <th class="text-center" index-col-size>#</th>
                            <th class="text-center" displayname-col-size>ชื่อที่แสดง</th>
                            <th class="text-center" name-col-size>ชื่อ - นามสกุล</th>
                            <th class="text-center col-md-2 tel-col-size">เบอร์โทร</th>
                            <th class="text-center" email-col-size>อีเมล์</th>
                            <th class="text-center col-md-1">สถานะ</th>
                            <th class="text-center col-md-1">วันที่บันทึก</th>

                            <th class="text-center col-md-1 col-lg-1 action-col-size">
                              Action
                              <!-- <span style="margin-right:-50px"></span> -->
                            </th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngIf="listAdmin.length <=0">
                            <!-- <tr> -->
                            <td colspan="8" class="text-center">
                              ยังไม่มีข้อมูลผู้ใช้ในระบบค่ะ
                            </td>

                          </tr>
                          <tr *ngFor="let item of listAdmin[0]; let i = index ">
                            <td>{{i + pageSelect + 1}}</td>
                            <td>{{item.displayName}}</td>
                            <td>{{item.firstName}} {{item.lastName}}</td>
                            <td class="text-center">{{item.mobile ? item.mobile: '-'}}</td>
                            <td class="text-center">{{item.email}}</td>
                            <td class="text-center">{{item.gender ? item.gender: '-'}}</td>
                            <td class="text-center">{{item.created | date: 'dd/MM/yyyy'}}</td>

                            <td class="text-center">
                                <span>
                                    <i class="material-icons edit-btn" data-toggle="modal" data-target="#modalEditUser" (click)="editUser(item)">border_color</i>
                
                                  <ui-switch size="small" color="red" (change)="activeChange($event,item)"></ui-switch>
                                </span>


                            </td>
                          </tr>

                        </tbody>
                      </table>

                      <!-- <div class="pc">
                                  <nav aria-label="Page navigation">
                                    <ul class="pagination">
                                      <li [class]="curentPage[item]" *ngFor="let item of shopsL.pagings">
                                        <a (click)="pageing(item)">{{item}}</a>
                                      </li>
                                    </ul>
                                  </nav>
                                </div> -->
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Tab Admin -->

        <!-- Tab Biker -->
        <div role="tabpanel" class="tab-pane" id="biker">
          <div class="tab-content">
            <div>
              <div class="row">
                <div class="col-md-12">
                  <div class="card">
                    <div class="card-content table-responsive">
                      <table class="table">
                        <thead class="text-danger">
                          <tr>
                            <th class="text-center" index-col-size>#</th>
                            <th class="text-center" displayname-col-size>ชื่อที่แสดง</th>
                            <th class="text-center" name-col-size>ชื่อ - นามสกุล</th>
                            <th class="text-center col-md-2 tel-col-size">เบอร์โทร</th>
                            <th class="text-center" email-col-size>อีเมล์</th>
                            <th class="text-center col-md-1">สถานะ</th>
                            <th class="text-center col-md-1">วันที่บันทึก</th>

                            <th class="text-center col-md-1 col-lg-1 action-col-size">
                              Action
                              <!-- <span style="margin-right:-50px"></span> -->
                            </th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngIf="listBiker.length <=0">
                            <!-- <tr> -->
                            <td colspan="8" class="text-center">
                              ยังไม่มีข้อมูลผู้ใช้ในระบบค่ะ
                            </td>

                          </tr>
                          <tr *ngFor="let item of listBiker[0]; let i = index ">
                            <td>{{i + pageSelect + 1}}</td>
                            <td>{{item.displayName}}</td>
                            <td>{{item.firstName}} {{item.lastName}}</td>
                            <td class="text-center">{{item.mobile ? item.mobile: '-'}}</td>
                            <td class="text-center">{{item.email}}</td>
                            <td class="text-center">{{item.gender ? item.gender: '-'}}</td>
                            <td class="text-center">{{item.created | date: 'dd/MM/yyyy'}}</td>

                            <td class="text-center">
                              <span>
                                  <i class="material-icons edit-btn" data-toggle="modal" data-target="#modalEditUser" (click)="editUser(item)">border_color</i>
              
                                <ui-switch size="small" color="red" (change)="activeChange($event,item)"></ui-switch>
                              </span>


                            </td>
                          </tr>

                        </tbody>
                      </table>

                      <!-- <div class="pc">
                                  <nav aria-label="Page navigation">
                                    <ul class="pagination">
                                      <li [class]="curentPage[item]" *ngFor="let item of shopsL.pagings">
                                        <a (click)="pageing(item)">{{item}}</a>
                                      </li>
                                    </ul>
                                  </nav>
                                </div> -->
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Tab Admin -->
      </div>

    </div>

  </div>
</div>

<!-- MODAL EDIT USER -->
<div class="modal fade" id="modalEditUser" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <div>
          <span modal-icon-1>
            <i class="material-icons edit-color">people</i>
          </span>
          <span modal-text-1>
            <h4 style="font-family: 'Kanit', sans-serif;" class="modal-title" id="exampleModalLabel">แก้ไขบัญชีผู้ใช้</h4>
          </span>


        </div>

      </div>
      <div class="modal-body">
        <div class="row bd">
          <div class="col-md-12">
            <div class="form-group form-black is-empty">
              ชื่อที่แสดง :
              <!-- <label class="control-label">ละแวก (เช่น สยามพารากอน)</label> -->
              <input class="form-control" type="text" [(ngModel)]="editingUserData.displayName">
            </div>
          </div>
        </div>
        <div class="row bd">
          <div class="col-md-12">
            <div class="form-group form-black is-empty">
              ชื่อ :
              <input class="form-control" type="text" [(ngModel)]="editingUserData.firstName">
            </div>
          </div>
        </div>
        <div class="row bd">
          <div class="col-md-12">
            <div class="form-group form-black is-empty">
              นามสกุล :
              <!-- <label class="control-label">คำค้นหา (เช่น coffee)</label> -->
              <input class="form-control" type="text" [(ngModel)]="editingUserData.lastName">
            </div>
          </div>
        </div>
        <div class="row bd">
          <div class="col-md-12">
            <div class="form-group form-black is-empty">
              เบอร์โทร :
              <!-- <label class="control-label">คำค้นหา (เช่น coffee)</label> -->
              <input class="form-control" type="text" [(ngModel)]="editingUserData.mobile">
            </div>
          </div>
          <!-- <div class="col-md-2 mt-10">
            <div class="form-group form-black is-empty">
              <button class="btn btn-info" (click)="search()">ค้นหา</button>
            </div>
          </div> -->
        </div>
        <div class="row bd">
          <div class="col-md-12">
            <div class="form-group form-black is-empty">
              ระดับผู้ใช้ :
              <input class="form-control" type="text" disabled [(ngModel)]="editingUserData.roles">
            </div>

          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-success " (click)="saveUser()">บันทึกข้อมูล</button>
          <button type="button" #dissmissBtn class="btn btn-default" data-dismiss="modal">ปิด</button>
        </div>
      </div>
    </div>
  </div>
  <!-- MODAL EDIT USER -->