.nav-tabs {
    background: #f75251;
}
.tel-col-size {
    width: 12rem;
}

.input-col-size {
    width: 11rem;
}

[name-col-size] {
    width: 17rem;
}

[index-col-size] {
    width: 2rem;
}

.action-col-size {
    width: 12rem;
    text-align: center;
    vertical-align: text-top;
}