.card img {
    height: 180px;
}

.ellipsis {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.ic {
    width: 34px !important;
    height: 34px !important;
}

.lo {
    position: absolute;
    right: 4px;
    margin-top: 4px;
}

.lo2 {
    text-align: right;
}

.mt-10 {
    margin-top: 10px;
}

.pd-4 {
    padding: 4px;
}

.bd {
    border: 1px #e2e2e2 solid;
    border-radius: 4px;
}

.im {
    height: 250px;
    width: 100%;
}

.hv {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.2);
    position: absolute;
    height: 86%;
    z-index: 1;
    width: 92%;
    margin-top: 24px;
}

.mgt-148 {
    margin-top: 128px;
}