<div class="main-content">
  <div class="container-fluid">

    <div class="row">
      <div class="col-md-12">
        <div class="dropdown pull-right">
          <button class="btn btn-success pull-right dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="true">
            <i class="material-icons">add</i> เพิ่มร้านค้า
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
            <li>
              <a href="#">เพิ่มข้อมูลเอง</a>
            </li>
            <li>
              <a data-toggle="modal" data-target="#modalGoogle">นำเข้าจาก Google</a>
            </li>
            <li>
              <a href="#">นำเข้าจาก Facebook</a>
            </li>
            <li>
              <a href="#">นำเข้าจาก การแนะนำ</a>
            </li>
            <li>
              <a href="#">นำเข้าจาก Excel</a>
            </li>
          </ul>
        </div>
        <!-- <button class="btn btn-success pull-right"><i class="material-icons">note_add</i> เพิ่มร้านค้า</button> -->
      </div>
      <div class="col-md-12">
        <div class="card">
          <div class="card-header dropdown" data-background-color="red">
            <h4 class="title">รายการร้านค้า</h4>
            <!-- <p class="category">Here is a subtitle for this table</p> -->
          </div>

          <div class="card-content table-responsive">
            <table class="table">
              <thead class="text-danger">
                <tr>
                  <th>#</th>
                  <th>ชื่อร้านค้า</th>
                  <th class="text-center">เบอร์โทร</th>
                  <th>ที่อยู่</th>
                  <th class="text-center">ช่องทางนำเข้า</th>
                  <th class="text-center">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1</td>
                  <td>ละมุณภัณฑ์</td>
                  <td class="text-center">089-4447208</td>
                  <td>ค่าซ่าซิตี้ลำลูกกา</td>
                  <td class="text-center">Manual</td>
                  <td class="text-center">
                    <button class="btn btn-primary btn-simple btn-xs" type="button">
                      <i class="material-icons">edit</i>
                    </button>

                    <button class="btn btn-info btn-simple btn-xs" type="button">
                      <i class="material-icons">settings_remote</i>
                    </button>

                    <button class="btn btn-danger btn-simple btn-xs" type="button">
                      <i class="material-icons">delete</i>
                    </button>
                  </td>
                </tr>

                <tr>
                  <td>2</td>
                  <td>ริมน้ำ หมูกระทะ</td>
                  <td class="text-center">089-4447208</td>
                  <td>เซ็นทรัลพลาซา แจ้งวัฒนะ</td>
                  <td class="text-center">Manual</td>
                  <td class="text-center">
                    <button class="btn btn-primary btn-simple btn-xs" type="button">
                      <i class="material-icons">edit</i>
                    </button>

                    <button class="btn btn-info btn-simple btn-xs" type="button">
                      <i class="material-icons">settings_remote</i>
                    </button>

                    <button class="btn btn-danger btn-simple btn-xs" type="button">
                      <i class="material-icons">delete</i>
                    </button>
                  </td>
                </tr>

                <tr>
                  <td>3</td>
                  <td>เอี่ยมโภชนา</td>
                  <td class="text-center">089-4447208</td>
                  <td>ป้อมปราบ</td>
                  <td class="text-center">Manual</td>
                  <td class="text-center">
                    <button class="btn btn-primary btn-simple btn-xs" type="button">
                      <i class="material-icons">edit</i>
                    </button>

                    <button class="btn btn-info btn-simple btn-xs" type="button">
                      <i class="material-icons">settings_remote</i>
                    </button>

                    <button class="btn btn-danger btn-simple btn-xs" type="button">
                      <i class="material-icons">delete</i>
                    </button>
                  </td>
                </tr>

                <tr>
                  <td>4</td>
                  <td>บาร์บีคิว รีสอร์ท</td>
                  <td class="text-center">089-4447208</td>
                  <td>รามอินทรา</td>
                  <td class="text-center">Manual</td>
                  <td class="text-center">
                    <button class="btn btn-primary btn-simple btn-xs" type="button">
                      <i class="material-icons">edit</i>
                    </button>

                    <button class="btn btn-info btn-simple btn-xs" type="button">
                      <i class="material-icons">settings_remote</i>
                    </button>

                    <button class="btn btn-danger btn-simple btn-xs" type="button">
                      <i class="material-icons">delete</i>
                    </button>
                  </td>
                </tr>

                <tr>
                  <td>5</td>
                  <td>รสเด็ดบุฟเฟ่ต์กุ้งกระทะ</td>
                  <td class="text-center">089-4447208</td>
                  <td>ค่าซ่าซิตี้ลำลูกกา</td>
                  <td class="text-center">Manual</td>
                  <td class="text-center">
                    <button class="btn btn-primary btn-simple btn-xs" type="button">
                      <i class="material-icons">edit</i>
                    </button>

                    <button class="btn btn-info btn-simple btn-xs" type="button">
                      <i class="material-icons">settings_remote</i>
                    </button>

                    <button class="btn btn-danger btn-simple btn-xs" type="button">
                      <i class="material-icons">delete</i>
                    </button>
                  </td>
                </tr>

              </tbody>
            </table>
            <nav aria-label="Page navigation">
              <ul class="pagination">
                <li>
                  <a href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                  </a>
                </li>
                <li class="active">
                  <a href="#">1</a>
                </li>
                <li>
                  <a href="#">2</a>
                </li>
                <li>
                  <a href="#">3</a>
                </li>
                <li>
                  <a href="#">4</a>
                </li>
                <li>
                  <a href="#">5</a>
                </li>
                <li>
                  <a href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                  </a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- /////////////////////////////////MODAL Google///////////////////////// -->

<div class="modal fade" id="modalGoogle" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="exampleModalLabel">นำเข้าข้อมูลจาก Google</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-3" *ngFor="let item of shopList">
            <div class="card" style="width: 20rem;">
              <img class="card-img-top" [src]="item.img" alt="Card image" width="318" height="180">
              <div class="card-block">
                <h4 class="card-title ellipsis">{{item.name}}</h4>
                <p class="card-text ellipsis">{{item.vicinity}}</p>
                <a href="#" class="btn btn-success">เลือก</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">ปิด</button>
        <button type="button" class="btn btn-primary">บันทึกข้อมูล</button>
      </div> -->
    </div>
  </div>
</div>

<div #map></div>