.card img {
    height: 180px;
}

.ellipsis {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.ic {
    width: 34px !important;
    height: 34px !important;
}

.lo {
    position: absolute;
    right: 4px;
    margin-top: 4px;
}

.mt-10 {
    margin-top: 10px;
}

.pd-4 {
    padding: 4px;
}

.bd {
    border: 1px #e2e2e2 solid;
    border-radius: 4px;
}