<div class="main-content">
  <div class="container-fluid">
    <div class="card" *ngIf="showeMainShop">
      <img class="card-img-top" src="https://images.unsplash.com/photo-1470219556762-1771e7f9427d?auto=format&fit=crop&w=889&q=60&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D"
        alt="Card image cap">
      <span class="fill"></span>
      <span class="camera">
        <i class="material-icons">photo_camera</i>
      </span>
      <p class="name">
        ละมุนภัณฑ์
        <i class="material-icons" (click)="openEditShopDetail()">create</i>
      </p>
      <p class="name2">
        COFFICE IDEA SPACE
      </p>
      <p class="name3">
        ลำลูกกา คลอง5 เวลาเปิดปิดร้าน 08:00 - 20:00
      </p>
      <div class="card-block">

        <div class="row">
          <div class="col-md-2">
            <img class="img" src="http://res.cloudinary.com/ha7s6qhcg/image/upload/v1511519960/camera_bkdxf8.png" alt="image">
          </div>
          <div class="col-md-2" *ngFor="let item of [1,2,3,4,5]">
            <img class="img" src="https://lh6.googleusercontent.com/-8WK0c1ZiDWM/VH_OSp3OPpI/AAAAAAAAFcM/SkNMSqmkcqI/w900-h600-no/Cheesecake_%E0%B9%80%E0%B8%84%E0%B9%89%E0%B8%81%E0%B8%9B%E0%B8%B5%E0%B9%83%E0%B8%AB%E0%B8%A1%E0%B9%88_New%2BYear%2BCake%2Bfarm%2Bdesign_5.JPG"
              alt="image">
          </div>
        </div>

        <h3 class="h">Product</h3>

        <div class="row" [dragula]='"zone1"'>
          <div class="col-md-2">
            <img class="img" src="http://res.cloudinary.com/ha7s6qhcg/image/upload/v1511519960/camera_bkdxf8.png" alt="image">
          </div>
          <div class="col-md-2" *ngFor="let item of [1,2,3,4,5]">
            <img class="img" src="http://www.gateauxhouse.co.th/uploads/800x600_52eb13b35c9d7.jpg" alt="image">
            <span class="ca">
              ขนม
            </span>
          </div>
        </div>

        <div class="row" [dragula]='"zone2"'>
          <div class="col-md-2">
            <img class="img" src="http://res.cloudinary.com/ha7s6qhcg/image/upload/v1511499758/pp_clfpol.jpg" alt="image">
          </div>
          <div class="col-md-2" *ngFor="let item of [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19]">
            <img class="img" src="http://homecookingadventure.com/images/recipes/Chocolate_Mirror_Cake_main.jpg" alt="image">
          </div>
        </div>
      </div>
    </div>





    <!-- //////////////////////////edit shop///////////// -->

    <div class="card" *ngIf="showeditdiv">
      <div class="card-header">
        ข้อมูลร้านค้า
      </div>
      <div class="card-block">
        <div class="row">
          <div class="col-md-8">
            <div class="dropdown">
              <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="true" style="width: 100%;background-color: #c3c3c3;">
                หมวดหมู่ร้านค้า
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenu1" style="width: 100%;">
                <li>
                  <a>เมนู 1</a>
                </li>
                <li>
                  <a>เมนู 2</a>
                </li>
                <li>
                  <a>เมนู 3</a>
                </li>
              </ul>
            </div>
            <div class="form-group">
              <input type="text" class="form-control" placeholder="ชื่อร้าน" naem="shopName" [(ngModel)]="shop.name">
            </div>
            <div class="form-group">
              <input type="text" class="form-control" placeholder="ชื่อร้าน (ภาษาอังกฤษ)" naem="shopNameEn" [(ngModel)]="shop.name_eng">
            </div>

          </div>
          <div class="col-md-4">
            <img class="img-2" src="http://res.cloudinary.com/ha7s6qhcg/image/upload/v1511519960/camera_bkdxf8.png" alt="image">
          </div>
          <div class="col-md-12">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="รายละเอียดร้าน" naem="detail" [(ngModel)]="shop.detail">
            </div>
            <div class="form-group">
              <input type="email" class="form-control" placeholder="อีเมล" naem="email" [(ngModel)]="shop.email">
            </div>
            <div class="form-group">
              <input type="text" class="form-control" placeholder="หมายเลขโทรศัพท์" naem="tel" [(ngModel)]="shop.tel">
            </div>
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Facebook" naem="Facebook" [(ngModel)]="shop.facebook">
            </div>
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Line" naem="Line" [(ngModel)]="shop.line">
            </div>
            <!-- card list -->

            <div class="row">
              <div class="col-md-3" (click)="openTime()">
                <img class="img" src="http://res.cloudinary.com/ha7s6qhcg/image/upload/v1511499758/pp_clfpol.jpg" alt="image">
              </div>
              <div class="col-md-3" *ngFor="let item of timeList;let i = index">
                <div class="card">
                  <span class="bin" (click)="deleteTime(i)">
                    <i class="material-icons">delete</i>
                  </span>
                  <div class="card-block">
                    <h4 class="card-title" style="text-align: center;">{{item.description}}</h4>
                    <p class="card-text">เวลาเปิด {{item.timestart}} น.</p>
                    <p class="card-text">เวลาปิด {{item.timeend}} น.</p>
                  </div>
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item" *ngFor="let item2 of item.days">{{item2}}</li>
                  </ul>
                </div>
              </div>
            </div>

            <div class="form-group">
              <textarea rows="6" class="form-control" placeholder="ที่อยู่"></textarea>
            </div>
            <p class="pin" (click)="openSelectMap()">
              <i class="material-icons">room</i>
            </p>
          </div>
        </div>
        <div class="ct">
          <button class="btn btn-primary" (click)="save()">บันทึก</button>
        </div>
      </div>
    </div>

    <div class="card" *ngIf="showeditTime">
      <div class="card-header">
        เวลาเปิดปิดร้าน
      </div>
      <div class="card-block">
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="รายละเอียด" name="timeDetail" [(ngModel)]="times.description">
            </div>
            <div class="form-group">
              <input type="time" class="form-control" placeholder="เวลาเปิด" name="start" [(ngModel)]="times.timestart">
            </div>
            <div class="form-group">
              <input type="time" class="form-control" placeholder="เวลาปิด" name="end" [(ngModel)]="times.timeend">
            </div>

            <ul class="list-group list-group-flush">

              <li class="list-group-item" (click)="selectDay(0)">วันอาทิตย์
                <span class="check" *ngIf="selectDate[0]">
                  <i class="material-icons">done</i>
                </span>
              </li>
              <li class="list-group-item" (click)="selectDay(1)">วันจัทร์
                <span class="check" *ngIf="selectDate[1]">
                  <i class="material-icons">done</i>
                </span>
              </li>
              <li class="list-group-item" (click)="selectDay(2)">วันอังคาร
                <span class="check" *ngIf="selectDate[2]">
                  <i class="material-icons">done</i>
                </span>
              </li>
              <li class="list-group-item" (click)="selectDay(3)">วันพุธ
                <span class="check" *ngIf="selectDate[3]">
                  <i class="material-icons">done</i>
                </span>
              </li>
              <li class="list-group-item" (click)="selectDay(4)">วันพฤหัสบดี
                <span class="check" *ngIf="selectDate[4]">
                  <i class="material-icons">done</i>
                </span>
              </li>
              <li class="list-group-item" (click)="selectDay(5)">วันศุกร์
                <span class="check" *ngIf="selectDate[5]">
                  <i class="material-icons">done</i>
                </span>
              </li>
              <li class="list-group-item" (click)="selectDay(6)">วันเสาร์
                <span class="check" *ngIf="selectDate[6]">
                  <i class="material-icons">done</i>
                </span>
              </li>
            </ul>
          </div>
        </div>
        <div class="ct">
          <button class="btn btn-primary" (click)="saveTime()">บันทึก</button>
        </div>
      </div>
    </div>



    <div class="card" *ngIf="showeMap">
      <div class="card-header">
        ที่อยู่ร้านค้า
      </div>
      <div class="card-block">
        <input #pacinput id="pac-input" class="controls m2" type="text" placeholder="ค้นหาสถานที่">
        <div #map class="map"></div>
        <div class="ct">
          <button class="btn btn-primary" (click)="saveTime()">บันทึก</button>
        </div>
      </div>
    </div>




  </div>
</div>